* {
	box-sizing: border-box;
	list-style: none;
}
.movie-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
}

.episode-number {
	font-weight: bold;
}

.movie-title {
	color: #333;
}

.movie-summary {
	margin-bottom: 10px;
}

.character-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.character {
	margin-bottom: 5px;
}

.spinner {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
.characters-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
