body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #f5f8fa;
	box-sizing: border-box;
}

.card__container {
	width: 100%;
	position: relative;
}
.post-card {
	width: 50%;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 30px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: flex-start;
	transition: all 0.6s ease;
}
.post-card:hover {
	background-color: rgb(248, 248, 248);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.post-card-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.post-card-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post-card-content {
	flex: 1;
}

.post-card-header {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.post-card-user {
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
}

.post-card-time {
	font-size: 12px;
	color: #657786;
}

.post-card-title {
	font-size: 12px;

	margin-bottom: 5px;
}

.post-card-text,
.likes {
	margin-bottom: 5px;
}

.delete-button {
	background-color: transparent;
	border: none;
	padding: 0;
	color: #1da1f2;
	font-size: 14px;
	cursor: pointer;
}

.delete-button:hover {
	text-decoration: underline;
}

.likes {
	display: flex;
	align-items: center;
}

.svg {
	width: 17px;
	height: 17px;
	fill: white;
	stroke: black;
}

.likes-count {
	margin-left: 5px;
	font-size: 15px;
}
.svg .active {
	fill: rgb(255, 179, 179);
	stroke: white;
}

.post-form__container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(164, 164, 164, 0.696);
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 400px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
#openModalBtn {
	background-color: #1da1f2;
	color: white;
	padding: 10px 20px;
	margin: 20px auto;
	margin-left: 62%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
#openModalBtn:hover {
	background-color: rgb(33, 101, 165);
}
.add-post-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

.add-post-form input[type='text'] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.add-post-form button {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.add-post-form button:hover {
	background-color: #45a049;
}
